.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}

.column1 span {
  font-weight: 600;
}

.column2 {
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 10px;
}

.column2 button {
  color: brown;
  padding: 0px 15px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: brown;
  background-color: white;
  font-size: larger;
  font-weight: 700;
}

.column2 button:hover,
.column2 button:active {
  color: white;
  background-color: brown;
}

.pricelabel {
  display: flex;
  justify-content: space-between;
}

.pricelabel span {
  font-size: medium;
  color: brown;
  font-weight: 500;
}

.pricelabel label {
  border: 1px solid rgb(228, 223, 223);
  border-radius: 6px;
  width: 35px;
  text-align: center;
  font-weight: 600;
}
